:root {
  --font-size-responsive: calc(10px + 0.390625vw);
}

html, body,
h1, h2, h3, h4, h5, h6,
label, input, p, a {
  font-family: 'Lato', sans-serif;
  color: #444;
  /* font-size: var(--font-size-responsive); */
}

.intro {
  margin-bottom: 2rem;
}

a.home {
  border: none;
  text-decoration: none;
  color: #444;
  cursor: pointer;
}

a.home:hover {
  color: #444;
  text-decoration: none;
  border: none;
}

a {
  /* text-decoration: underline; */
  border-bottom: 1px dashed #bbb;
  padding-bottom: 2px;
  /* color: #222; */
}

a:hover {
  text-decoration: none;
  /* color: #F6D23C; */
  border-bottom: 2px solid #F6D23C;
  padding-bottom: 4px;
  /* border-bottom: none; */
  /* font-weight: 700; */
  color: #222 !important;
}

.main {
  margin: 3rem auto;
  /* width: 950px; */
}

.content {
  padding-left: 2rem;
}

.header {
  padding-left: 13px;
  padding-top: 80px;
}

h1, h3.heading, h5 {
  font-weight: 700;
}

ol.post {
  display: block;
  margin-bottom: 0.8rem;
  list-style-type: none;
  padding-left: 0;
  /* text-align:left; */
}

ol li.title {
  font-weight: 700;
  font-size: 1.75rem;
}

ol li.title::marker {
  padding-right: 10px;
  display: none !important;
}

h3.title {
  font-weight: 700;
  /* text-align: center; */
  padding-top: 10px;
  /* border-left: 6px solid #444; */
  /* padding-left: 15px; */
}

h3.title .text {
  font-style: italic;
}

h5.connect {
  font-weight: 900;
  font-size: 15px;
  /* letter-spacing: 0.5px; */
  padding-top: 18px;
}

.sidebar.text {
  padding-top: 5px;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
}

.sidebar.text span {
  display: inline-flex;
  align-items: center;
  padding-bottom: 2px;
}

.sidebar.text span i {
  margin-right: 2px;
}

.sidebar.text span a:hover {
  padding-bottom: 1px;
}

.sidebar-img {
  position: relative;
  width: 180px;
  height: 180px;
  /* margin: 0 auto;
  display: block; */
}

h3.title .emoji {
  display: none;
}

.pubs-shortened { 
  display: none !important;
  visibility: hidden;
}

.tab-content {
  min-height: 40vh;
}

#resume {
  text-align: center;
}

img.sidebar-img {
  border-radius: 50%;
}

p.intro, p.modal-info, h5.modal-info {
  text-align: center;
  justify-content: center;
}

p.sidebar.text i.fa, p.deets i.fa {
  padding-right: 5px;
}

p.footer i.fa {
  margin-right: 1px;
}

ul.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.nav-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.nav-link, .nav-link:focus {
  text-align: center;
  padding: 0.3rem !important;
  margin: 0 1rem;
  padding-bottom: 5px !important;
}

.nav-link.active {
  border-bottom: 3px solid #F6D23C;
  font-weight: 700;
  color: #222 !important;
  /* font-size: 0.98rem !important; */
}

footer.row {
  text-align: center;
  width: 100%;
  margin: 4rem 0;
  border-top: 1px dotted #888;
  padding-top: 1rem;
  background-color: white;
  /* height: auto; */
  margin-bottom: 0;
}

p.footer {
  text-align: center;
  margin: 0 auto;
  font-size: 0.8rem;
  color: #777;
  padding: 1rem;
}

a.back {
  color: #777;
}

.smoltext {
  color: #777;
  text-align: center;
  font-size: 14px;
}

p.download {
  /* text-align:right; */
  margin: 1rem 0 0.5rem 0;
}

a.btn.btn-download {
  color: #555;
  border-color: #F6D23C;
  margin-bottom: 0.5rem;
}

a.btn.btn-download:hover {
  background-color: #F6D23C;
  border-bottom: 1px solid transparent;
  padding: .375rem .75rem !important;
}

/* carousel */

.carousel-control-next, .carousel-control-prev {
  background-color: #ccc;
  opacity: 0.2;
  width: 10%;
}

a.carousel-control-prev, a.carousel-control-next {
  border: none;
}

a:hover.carousel-control-prev, a:hover.carousel-control-next {
  border: none;
}

.carousel-indicators li {
  background-color: #aaa !important;
  height: 4px;
  margin-top: 3rem;
  margin-bottom: 0;
}

.carousel.slide.post {
  border: 1px solid #dee2e6;
  padding: 0.25rem;
  border-radius: .25rem;
  background-color: #fff;
  display: block;
  margin: 1rem auto !important;
  height: 100%;
  width: 100%;
}

img.showcase {
  border: 1px solid #dee2e6;
  padding: 0.25rem;
  border-radius: .25rem;
  background-color: #fff;
  margin: 1rem auto !important;
  width: 100%;
  height: auto;
  text-align: center;
}

.showcase {
  border: 1px solid #dee2e6;
  padding: 0.25rem;
  border-radius: .25rem;
  background-color: #fff;
  margin: 1rem auto !important;
  width: 100%;
  height: auto;
  text-align: center;
}

#vr-showcase iframe {
  height: auto;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.carousel.slide.post img {
  margin-bottom: 13px;
}

#pubs {
  text-align: center;
}

#pubs-main-carousel.carousel.slide.pubs {
  height: max-content;
  width: 100%;
  padding: 0 3.75rem;
  margin: 0 auto;
}

#pubs-main-carousel.carousel.slide.pubs img {
  margin-bottom: 13px;
}

/* .modal .modal-dialog, .modal-body .carousel.slide img {
  max-height: 100vh;
  width: auto;
}

.modal .modal-dialog, .modal-body img {
  /* min-height: 100vh; */
/* width: 100%;
} */

.toggler {
  cursor: pointer;
}

ul.fa-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

ul.fa-ul li {
  display: inline-flex;
  align-items: center;
}

.fa-li {
  left: -2.5em !important;
  top: 0 !important;
}

.fa-ul li a, .nav-link:hover:not(.active) {
  padding-bottom: 4px !important;
}

code, pre {
  font-family: courier new;
  font-size: 14px;
  color: #333;
  word-break: break-word;
  font-weight: lighter;
  padding: 1px 4px;
  background-color: #dfdfdf;
}

/* ==================================================
   Media queries
================================================== */

@media (max-width: 480px) {
  .sidebar.text.connect {
    display: flex;
    flex-direction: column !important;
  }
}

@media (max-width: 768px) {
  #sidebar {
    margin-bottom: 2rem;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
  }

  .hidden { display: none !important; }
  .pubs-shortened { display: inline-flex !important; visibility: visible; }

  h3.title {
    text-align: center;
  }

  /* h5.connect {
    display: none;
  } */

  h3.title .emoji {
    display: inline-block;
    font-style: none !important;
  }

  .sidebar-img {
    margin: 0 auto;
    display: none;
  }

  .sidebar.text.connect {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    justify-content: space-between;
    align-items: center;
  }

  .sidebar.text.connect span {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }

  ul.nav {
    text-align: center;
    flex-grow: 1;
    flex-wrap: nowrap;
  }

  ul.nav .nav-item {
    display: inline-flex;
    flex: 1;
  }

  .nav-link {
    padding: .3rem;
    margin: 0 0.5rem !important;
  }
}

@media (max-width: 1200px) {
  .hidden { display: none !important; }
  .pubs-shortened { display: inline-flex !important; visibility: visible; }
}