$palettes: (
    matcha: (
        culinary: #546135,
        cafe: #ACAA5F,
        ceremonial: #91b85f,
        base: #7E8B69,
        latte: #bcd198,
        milky: #bed297
    ),

    milk: (
        soy: #F9E9E0,
        almond: #E9E0CE,
        oat: #FBF5EC,
    ),

    azuki: (
        base: #544928,
        burnt:rgb(63, 54, 29)
    ),
);


// http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}
  