@import "colors.scss";

html, body {
    font-family: 'Noto Sans' !important;
    color: palette(azuki, base);
    background-color: white;
    margin: 0;
    height: 100vh;
}

strong {
    color: palette(azuki, burnt);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: palette(matcha, culinary);
    font-family: 'Noto Sans JP',  !important;
    font-weight: 700 !important;
}

p { color: palette(azuki, base); }

main#main {
    display: flex;
    flex-direction: row-reverse;

    section.sidebar {
        display: flex;
        background: palette(matcha, milky);
        flex-direction: column;
        flex: 1;
        padding: 0 1.5rem;
        text-align: center;
        justify-content: space-between;
        min-height: 100vh;

        .intro {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 2rem 0;

            p {
                color: palette(azuki, base);
            }

            img.icon {
                border-radius: 50%;
                border: 5px solid palette(milk, soy);
                width: 130px;
                height: 130px;
                margin: 0.8rem;
            }
    
            h1, h2, h3 {
                font-weight: 700;
                color: palette(matcha, culinary);
                font-family: 'Noto Sans JP',  !important;
                letter-spacing: -1px;   
                margin-bottom: 1rem;
            }
    
            i, a i, a:active i {
                font-size: 1.5rem;
                padding: 0.4rem 0.2rem;
                color: palette(matcha, culinary);
                transition: ease-in 0.2s;
                -moz-transition: ease-in 0.2s;
            }
    
            a:hover i {
                color: palette(milk, oat);
                transition: ease-in 0.2s;
                -moz-transition: ease-in 0.2s;
            }
        }

        .credits {
            font-size: small;
            display: flex;
            justify-content: center;
        }
        
    }
    
    section.content {
        flex: 4;
        flex-direction: column;
        margin: 0 2.5rem;

        .greeting {
            font-size: 6rem;
            color: palette(matcha, milky);
            padding: 1.3rem 0;
            letter-spacing: -0.2rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
        }

        .navigation {
            margin: 1rem 0;    
            text-transform: lowercase;

            a { text-decoration: none; }

            a, a:active {
                background-color: palette(matcha, ceremonial);
                color: white;
                font-family: 'Noto Sans JP', ;
                font-weight: 500;
                display: inline-flex;
                padding: 0.35rem 0.9rem;
                margin-right: 1rem;
                
            }

            a:hover, .nav-link.active {
                font-weight: 700;
                cursor: pointer;
                color: palette(matcha, culinary);
            }
        }

        .body {
            margin-top: 1.8rem;
            
            h1 {
                margin-bottom: 1.2rem;
            }

            a.download {
                display: inline-block;
                padding: 0.7rem;
                background: palette(matcha, base);
                border-radius: 7px;
                color: palette(milk, oat);
                margin-right: 0.3rem;
            }

            a.download:hover {
                text-decoration: none;
                background-color: palette(matcha, cafe);
            }

            iframe {
                margin: 0.7rem 0;
            }
        }
    }
    
}
