/* SCSS HEX c/o https://coolors.co/ */

$cosmic-latte: #F6F3E2ff;
$alabaster: #EBEDE7ff;
$mantis: #7EC082ff;
$celadon: #91CA95ff;
$honeydew: #E1EFE2ff;
$paynes-gray: #606871ff;
$honeydew-2: #DBE8D9ff;