@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@font-face {
	font-family: 'Minecraftia';
	font-style: normal;
	font-weight: normal;
	src: local('Minecraftia') url('/assets/fonts/Minecraftia.ttf') format('ttf');
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif !important;
}

h1, h2, h3 { color: $matcha; }

.start-here {
    width: 100%;
    overflow: hidden;

    h1 {
        // animation: 3s slide-down;
        margin-top: 5rem;
        cursor: pointer;
    }
}

.buttons {
    opacity: 1;
    // animation-delay: 3s;
    // animation-name: fade-in;
    // animation-duration: 2s;
    // animation-fill-mode: forwards;
}

button.pixel {
    display: block;
    font-family: 'Minecraftia';
    background-color: $olive;
    color: $snow;
    padding: 0.8rem 1.5rem;
    // border: 2px solid $snow;
    line-height: 1.5;
    padding-bottom: 0.4rem;
    outline: solid 0.2em $olive;
    box-shadow: inset .313em .313em 0 rgba(0,0,0,0.4), inset -.313em -.313em 0 rgba(255,255,255,0.4), 0 1em 0.625em -.4em rgba(0,0,0,0.8);
    transition: linear .2s;
    font-weight: normal;

    &:hover {
        box-shadow: inset .313em .313em 0 rgba(0,0,0,0.8), inset -.313em -.313em 0 rgba(255,255,255,0.6), 0 1em 0.625em -.4em rgba(255,255,255,0.8);
    }
}

@keyframes slide-down {
    from {
        margin-top: -5rem;
    }

    to {
        margin-top: 5rem;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}