@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-paynes-gray: #606871ff;
        --color-mantis: #7EC082ff;
        --color-mantis-light: #91CA95ff;
        --color-honeydew: #E1EFE2ff;
        --color-honeydew-light: #DBE8D9ff;
        --color-matcha: #5C913B;
        --color-matcha-ceremonial: #77B255;
        --color-latte: #F6F3E2ff;
    }

    html,
    body {
        @apply font-mono bg-white text-neutral-700;
    }

    p {
        @apply text-[0.8rem];
    }
}

@layer components {
    a.nav-item {
        @apply text-sm uppercase font-mono font-medium transition-all duration-200 rounded-none focus:outline-none hover:bg-mantis-light hover:text-white;
    }

    a.sub-nav-item {
        @apply text-xs lowercase font-mono font-medium transition-all tracking-tight rounded-none border-b-4 border-transparent focus:outline-none hover:border-mantis-light hover:border-b-4;
    }

    a.nav-item.active, a.nav-item[aria-selected="true"] {
        @apply bg-mantis-light text-white;
    }

    a.sub-nav-item.active {
        @apply border-b-4 border-mantis-light;
    }

    #nav-background {
        transition: background 0.5s ease;
        transition-delay: 4s;
    }

    .font-heading {
        @apply lowercase;
    }

    .btn-download {
        @apply font-sans text-white bg-mantis hover:bg-mantis-light focus:outline-none focus:ring-1 focus:ring-mantis-light font-medium rounded-full text-base px-5 py-2.5 text-center mr-2 mb-2;
    }
}
