@import "colors.scss";

html, body {
    font-family: 'Noto Sans' !important;
    color: palette(azuki, base);
    background-color: white;
    height: 100%;
}

strong {
    color: palette(azuki, burnt);
}

h1, h2, h3, h4, h5, h6 {
    //margin: 0;
    color: palette(matcha, culinary);
    font-family: 'Noto Sans JP',  !important;
    font-weight: 700 !important;
}

p { color: palette(azuki, base); }

svg {
    width: 100%;
    padding: 0;
}

text {
    fill: palette(matcha, milky);
    padding: 1.3rem 0;
    letter-spacing: -1.4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 0;
}

main.content {
    max-width: 600px;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: small;
}

nav {
    display: flex;
    font-size: 2rem;
    color: palette(milk, oat);

    .first.row {
        //margin-bottom: 2px;

        :first-child {
            //margin-right: 1px;
            background-color: palette(matcha, ceremonial);
        }

        :last-child {
            //margin-left: 1px;
            background-color: palette(matcha, culinary);
        }
    }

    .second.row {
        //margin-bottom: 2px;

        :first-child {
            //margin-right: 1px;
            background-color: palette(matcha, culinary);
        }

        :last-child {
            //margin-left: 1px;
            background-color: palette(matcha, ceremonial);
        }
    }

    .nav-block {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: calc(50% - 5px);
        padding: 2rem;
        text-align: center;
        height: calc(12rem + 1vh);
        font-weight: 700;
    }
}

@media screen and (max-width: 700px) {
    nav {
        font-size: 4.5vw;

        .first.row, .second.row {
            flex-direction: column;

            :first-child {
                background-color: palette(matcha, ceremonial);
            }
    
            :last-child {
                background-color: palette(matcha, culinary);
            }
        }
    
        .nav-block {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
        }
    }

    
    footer {
        font-size: 0.7rem;

        span { display: block; }
    }
}


@media screen and (max-width: 450px) {
    main.content {
        position: absolute;
        margin: auto;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}